.kakao-cert {
    color: #ffd00f;
    font-weight: bold;
}

.hometax-text2 {
    font-family : pretendard;
    margin-top: 20px;
    font-size: 14px;
    color: grey;
    text-align: left;
    opacity: 80%;
}

.hometax-cert {
    margin-top: 30px;
    width: 450px;
    border-radius: 10px;
    float: left;
}

.kakao-cert-text {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    color: grey;
    font-family: 함초롬바탕;
}

.kakao-cert-timer {
    width: 50px;
    background-color: #4A5BF6;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.certification-button.disabled {
    background-color: lightgrey !important;
    color: grey !important;
}

.certButton {
    margin-top: 50px;
    width: 450px;
    height: 50px;
    background-color: #4A5BF6;
    color: white;
    font-size: 16px;
}

.modal-contents {
    display: inline-flex;
    border-radius: 10px;
    background-color: aliceblue;
    width: 330px;
    padding: 10px;
    margin-left: 1px;
}

.cert-img {
    width: 50px;
    margin-left: 10px;
}

.cert-msg {
    float: left;
    margin-left: 20px;
    font-family: pretendard;
}

.next-icon {
    text-align: center;
    color: lightgrey;
    font-size: 20px;
}