span.cert {
    color: #4A5BF6;
    font-weight: bold;
}

.hometax-upload-contents {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px lightgrey solid;
    font-family: pretendard;
}

.hometax-upload-contents2 {
    display: flex;
    width: 450px;
    height: 120px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px lightgrey solid;
    font-family: pretendard;
}

.hometax-cert-contents {
    border-radius: 10px;
    width: 50%;
    height: 100%;
    text-align: left;
    background-color: #eceff1;
}

.nonconnect-icon {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 10px;
    background-color: #cccccc;
    width: 40px;
    border-radius: 15px;
    padding: 2px;
    text-align: center;
}

.connect-icon {
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 10px;
    background-color: #4A5BF6;
    width: 40px;
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    color: white;
}

.hometax-cert-text1 {
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
}

.hometax-cert-text2 {
    margin-left: 15px;
    font-size: 12px;
    color: grey;
}

.upload-certification {
    border-radius: 10px;
    margin-top: 20px;
    width: 50%;
    background-color: white;
    text-align: center;
    color: grey;
}

.cert-upload-nextBtn {
    margin-top: 50px;
    width: 450px;
    height: 35px;
    font-family: pretendard;
}

.circleX {
    color: red;
    font-size: 30px;
}

.cert-upload-fail-text {
    margin-top: 10px;
    text-align: center;
    font-size: 10.5px;
}

.re-upload {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    font-size: 11px;
}

.circlePlus {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #cccccc;
}

.cert-contents {
    float: left;
}