.corp-name, .corp-num {
    margin-top: 20px;
    text-align: left;
    font-family: pretendard;
    color: grey;
}

.num-first, .num-second {
    width: 28%;
}

.num-third {
    width: 37%;
}

.name, .phone {
    margin-top: 20px;
    text-align: left;
    font-family: pretendard;
    color: grey;
}
h3 {
    text-align: center;
}