.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: ghostwhite;
    height: 150px;
    padding: 10px;
}

.content {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 12px;
    font-family: pretendard;
}
.content-text {
    margin: 0 auto;
    width: 350px;
    background-color: ghostwhite;
    text-align: left;
}

.display {
    display: flex;
    text-align: left;
}

.display > div {
    margin-right: 20px;
}

.opacity {
    opacity: 0.4;
}

.terms, .privacy {
    hover: #4A5BF6;
    cursor: pointer;
}

.channel-talk {
    width: 40px;
    margin-bottom: 10px;
    margin-right: 50px;
    float: right;

}
