.wrapper {
    width: 450px;
    margin: 0 auto;
}

.backB {
    margin-top: 10px;
    float: left;
}

.hometax-text1 {
    font-family: pretendard;
    text-align: left;
    font-size: 20px;
}

span.hometax {
    color: #4A5BF6;
    font-weight: bold;
}

.hometax-name, .hometax-ssn, .hometax-phone{
    margin-top: 20px;
    text-align: left;
    font-family: pretendard;
    color: grey;
}

.ssn-front, .ssn-back {
    width: 48%;
}

.error-message {
    color: red;
}
.error-border {
    border-color: red;
}

.modal-text {
    text-align: center;
}

.nextButton-hometax {
    width: 450px;
    height: 35px;
    background-color: #4A5BF6;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: pretendard;
    margin-top: 20px;
}

.corp-text1 {
    font-size: 20px;
    font-family: pretendard;
    float: left;
    text-align: left;
}

.corp-text2 {
    color: grey;
    font-family: pretendard;
    font-size: 14.5px;
    text-align: left;
    float: left;
    opacity: 80%;
}