.textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textarea {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: pretendard;
    overflow-y: scroll;
    resize: none;
    background-color: ghostwhite;
}