.textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textarea {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: pretendard;
    overflow-y: scroll;
    resize: none;
    background-color: ghostwhite;
}

.okButton {
    width: 460px;
    height: 35px;
    background-color: #4A5BF6;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: pretendard;
    margin-top: 10px;
}

.backButton {
    width: 460px;
    height: 35px;
    background-color: #4A5BF6;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: pretendard;
    margin-top: 10px;
}